@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.barra-nav, .contenedor_form, .title_vid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barra-nav .header_list, .barra-nav .header_item, .contenedor_form, .img-art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.grid_layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vid_container, .vid-container, .title-vid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* ESTILOS  desktop */
.barra-nav {
  background: #1f2227;
  color: #ced6e0;
  padding: 40px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../img/fondo1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.barra-nav .header_logo {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.barra-nav .header_logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.barra-nav .header_list {
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #ffffff;
}

.barra-nav .header_list:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #1f2227;
  border-radius: 10%;
  opacity: 80%;
}

.barra-nav .header_item {
  margin: 0px 10px;
  font-size: 12px;
  font-weight: 700;
  padding: 10 0 28px 0;
  text-decoration: none;
  color: #ced6e0;
  padding: 10px;
  font-size: 18px;
  margin: 15px 15px 0px 15px;
}

.barra-nav .titulo {
  padding-bottom: 15%;
  margin: 0%;
  width: 100%;
  height: 100%;
  background-image: url(/img/fondo1.jpg);
  background-position: center;
  background-size: cover;
}

.nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-nav {
  font-size: 1.2rem;
}

.reli {
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .reli {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .reli {
    width: 100%;
  }
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* ESTILOS  desktop */
.main__contenedor {
  max-width: 100%;
}

.contenedor_form {
  padding: 40px 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .contenedor_form {
    padding: 20px 30px;
  }
}

.title_form {
  text-align: start;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  border: 5px solid #1f2227;
  background-color: #1f2227;
  color: #ced6e0;
}

.form_titulo {
  border: 1px solid #ced6e0;
  padding: 20px 25px;
}

@media screen and (max-width: 768px) {
  .form_titulo {
    padding: 0px 25px;
    border: none;
  }
}

.form_post {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #ffffff;
  text-align: start;
  font-size: 1.1rem;
}

.form_control {
  background-color: #ced6e0;
  color: #2f3542;
  font-size: 1.4rem;
  font-weight: 400;
  height: 4.8rem;
  margin-bottom: 0.5rem;
  max-width: 500px;
}

.form_control {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #2f3542;
  background-color: #ced6e0;
  background-clip: padding-box;
  border: 1px solid #ced6e0;
  border-radius: .25rem;
}

.form-control {
  margin-right: 1rem !important;
}

.text_area {
  max-width: 680px;
  min-height: 176px;
  margin-right: 200px;
  margin-left: 3px;
}

.text_area {
  height: auto;
}

.form_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  font-size: 1.4rem;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .form_footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.botn_form {
  padding: 1.25rem 2rem;
  font-size: 0.85rem;
  line-height: 1.5;
  letter-spacing: .075rem;
  text-transform: uppercase;
  border-radius: 1%;
  min-width: 124px;
  border-color: #1f2227;
  background-color: #1f2227;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (max-width: 768px) {
  .botn_form {
    padding: 1.8px 20px;
  }
}

.botn_form:hover {
  background-color: #ffb700;
  color: black;
}

/* ESTILOS  desktop */
.footer {
  background: black;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
}

.footer-container {
  display: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
  }
}

/* ESTILOS  desktop */
.main_grid {
  grid-area: venta;
}

.grid_container {
  background-color: black;
}

.grid_section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  display: -ms-grid;
  display: grid;
  padding-bottom: 6px;
  padding-top: 6px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "c1 c2 c3 c4" "c5 c6 c7 c8" "c9 c10 c11 c12";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .grid_section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "c1 c2"  "c3 c4" "c5 c6" "c7 c8"  "c9 c10"  "c11 c12";
  }
}

.c1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: c1;
}

.c2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: c2;
}

.c3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c3;
}

.c4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: c4;
}

.c5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c5;
}

.c6 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c6;
}

.c7 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: c7;
}

.c8 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: c8;
}

.c9 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: c9;
}

.c10 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: c10;
}

.c11 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: c11;
}

.c12 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: c12;
}

.grid_layout {
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #b6b6b6;
  margin: 2px;
  padding: 15px;
  background-color: #b6b6b6;
}

.img-art {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-txt {
  color: black;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .section-txt {
    font-size: medium;
    font-family: 'Bebas Neue';
  }
}

/* ESTILOS  desktop */
.acc_mainColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1440px) {
  .acc_mainColumn {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .acc_mainColumn {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .acc_mainColumn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0%;
    padding: 3%;
  }
}

.acc_column {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1440px) {
  .acc_column {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .acc_column {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .acc_column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0%;
    padding: 3%;
  }
}

.acc_columnphotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 27px;
}

@media screen and (max-width: 1440px) {
  .acc_columnphotos {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .acc_columnphotos {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .acc_columnphotos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0%;
    padding: 3%;
  }
}

.acc_columnphotosone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1440px) {
  .acc_columnphotosone {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .acc_columnphotosone {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .acc_columnphotosone {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0%;
    padding: 3%;
  }
}

.acc_columnphototwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  margin-left: 1px;
  margin-top: 20px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1440px) {
  .acc_columnphototwo {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .acc_columnphototwo {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .acc_columnphototwo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0%;
    padding: 3%;
  }
}

.acc-img {
  width: 500px;
}

@media screen and (max-width: 1440px) {
  .acc-img {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .acc-img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .acc-img {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0%;
    padding: 3%;
  }
}

.acc-mod {
  margin: 20px;
}

.acc-mo {
  margin-top: 30px;
}

/* ESTILOS  desktop */
.containerService__banner {
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

@media screen and (min-width: 1140px) {
  .containerService__banner {
    width: 1148px;
  }
}

.container__banner {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.3rem;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .container__banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.service__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background-color: #ffffff;
  letter-spacing: .03rem;
  line-height: 1.6;
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.icono {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  line-height: 4em;
  text-align: center;
  text-transform: none;
  background-color: #ffffff;
  min-width: 0rem;
  margin-right: 1.9rem;
  font-size: 1.6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-boxBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .info-boxBanner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.container-banner {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .container-banner {
    border: none;
  }
}

/* ESTILOS  desktop */
.btn, .btn--colorDistinto {
  border: 1px solid black;
  border-radius: 4%;
  padding: 7px;
  background-color: #1f2227;
  color: #ffffff;
}

.btn--colorDistinto {
  background-color: black;
  color: white;
  border: 3px solid black;
}

.out {
  background-color: red;
  color: #ffffff;
  opacity: 90%;
}

.btn:hover, .btn--colorDistinto:hover {
  background-color: #ffb700;
  color: black;
}

.btn_vid {
  padding: 9px;
  background-color: #1f2227;
  color: #ffffff;
  border-radius: 6px;
  border: 3px outset #ced6e0;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 15px;
}

.btn_vid:hover {
  color: black;
  background-color: #ffb700;
}

.page-link {
  background-color: #1f2227;
  color: #ffffff;
  -webkit-box-shadow: black;
          box-shadow: black;
}

/* ESTILOS  desktop */
.fotos__contenedor, .fotos_ind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 768px) {
  .fotos__contenedor, .fotos_ind {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.foto_lavadero {
  width: 100%;
  height: 100%;
}

.carousel {
  width: auto;
}

/* ESTILOS  desktop */
.vid_container {
  background-color: #ffb700;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_vid {
  font-size: 20px;
  color: #ffffff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  .title_vid {
    font-size: 13px;
  }
}

.vid-container {
  background-color: #ffffff;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video {
  width: 35%;
  height: 35%;
}

@media screen and (max-width: 768px) {
  .video {
    width: 100%;
  }
}

.title-vid {
  font-size: 20px;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  .title-vid {
    font-size: 13px;
  }
}

.vid_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video1 {
  width: 500px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .video1 {
    width: 300px;
  }
}

.title_contact_vid {
  font-size: 2.2rem;
}

@media screen and (max-width: 768px) {
  .title_contact_vid {
    font-size: 1.25rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

/* ESTILOS  desktop */
/*# sourceMappingURL=main.css.map */