@import"./responsive";
.btn{
    padding: 7px;
    background-color: $color-principal;
    color: $color-blanco;
  }

  .btn--colorDistinto{
    @extend .btn;
    padding: 0.25rem;
    background-color: black;
    color: white;
    border: 3px solid $color-negro;
  }


  .out{
    background-color: $color-rojo;
    color: $color-blanco;
    opacity: 90%;
  }
  
  .btn:hover{
    background-color: $color-naranja;
    color: $color-negro;
  }
  .btn_vid{
    padding: 9px;
    background-color:$color-principal;
    color: $color-blanco;
    border-radius: 6px;
    border: 3px outset $color-gris;
    cursor: pointer;
    transition: all 1s;
    margin: 15px;
  }
  .btn_vid:hover{
    color: $color-negro;
    background-color: $color-naranja;
  }
  .page-link{
    background-color: $color-principal;
    color: $color-blanco;
    box-shadow: $color-negro;
  }

  .navbar-toggler{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent !important;
    border: 2px solid rgb(255, 255, 255) !important;
    color: rgb(17, 17, 17) !important;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
  }

  .se-vid{
    padding: 10px;
  }
