.fotos__contenedor{
    display: flex;
    flex-direction: row;
  }
  .fotos_ind{
    display: flex;
    flex-direction: row;
  }
  
  .foto_lavadero{
    width: 100%;
    height: 100%;
  }
  
  .carousel{
    width: auto;
  }