<<<<<<< HEAD
@import"./responsive";
.fotos__contenedor{
    display: flex;
    flex-direction: row;
    @include tablet{
      flex-wrap: wrap
    }
  }
  .fotos_ind{
    @extend .fotos__contenedor;
  }
  
  .foto_lavadero{
    width: 100%;
    height: 100%;
  }
  
  .carousel{
    width: auto;
=======
.fotos__contenedor{
    display: flex;
    flex-direction: row;
  }
  .fotos_ind{
    display: flex;
    flex-direction: row;
  }
  
  .foto_lavadero{
    width: 100%;
    height: 100%;
  }
  
  .carousel{
    width: auto;
>>>>>>> 828bd5e02c539d6951722954312c02d79033d1cc
  }