<<<<<<< HEAD
@import"./responsive";

.acc_mainColumn{
    display: flex;
    justify-content: center;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
    @include tablet{
      flex-wrap: wrap;
      width: 100%;
      margin: 0%;
      padding: 3%;
    }
}
  
  .acc_column{
    display: block;
    flex-direction: column;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
    @include tablet{
      flex-wrap: wrap;
      width: 100%;
      margin: 0%;
      padding: 3%;
    }
  }
  
  .acc_columnphotos{
    display: flex;
    margin-top: 100px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    padding-right: 27px;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
    @include tablet{
      flex-wrap: wrap;
      width: 100%;
      margin: 0%;
      padding: 3%;
    }
  }
  
  .acc_columnphotosone{
    display: flex;
    margin-bottom: 40px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
    @include tablet{
      flex-wrap: wrap;
      width: 100%;
      margin: 0%;
      padding: 3%;
    }
  
  }
  .acc_columnphototwo{
    display: flex;
    margin-bottom:20px;
    margin-left: 1px;
    margin-top: 20px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
    @include tablet{
      flex-wrap: wrap;
      width: 100%;
      margin: 0%;
      padding: 3%;
    }
  }
  
  .acc-img{
    width: 500px;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
    @include tablet{
      flex-wrap: wrap;
      width: 100%;
      margin: 0%;
      padding: 3%;
    }
  }
  .acc-mod{
    margin: 20px;
  }
  .acc-mo{
    margin-top: 30px;
  }
=======
.acc_mainColumn{
    display: flex;
    justify-content: center;
  
}
  
  .acc_column{
    display: block;
    flex-direction: column;
  }
  
  .acc_columnphotos{
    display: flex;
    margin-top: 100px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    padding-right: 27px;
  
  }
  
  .acc_columnphotosone{
    display: flex;
    margin-bottom: 40px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  
  }
  .acc_columnphototwo{
    display: flex;
    margin-bottom:20px;
    margin-left: 1px;
    margin-top: 20px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  
  }
  
  .acc-img{
    width: 500px;
  }
  .acc-mod{
    margin: 20px;
  }
  .acc-mo{
    margin-top: 30px;
  }
>>>>>>> 828bd5e02c539d6951722954312c02d79033d1cc
