@import"./responsive";

.acc_mainColumn{
    display: flex;
    justify-content: center;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
    @include tablet{
      flex-wrap: wrap;
      width: 100%;
      margin: 0%;
      padding: 3%;
    }
}
  
  .acc_column{
    display: block;
    flex-direction: column;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
    @include tablet{
      flex-wrap: wrap;
      width: 100%;
      margin: 0%;
      padding: 3%;
    }
  }
  
  .acc_columnphotos{
    display: flex;
    margin-top: 100px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    padding-right: 27px;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
    @include tablet{
      flex-wrap: wrap;
      width: 100%;
      margin: 0%;
      padding: 3%;
    }
  }
  
  .acc_columnphotosone{
    display: flex;
    margin-bottom: 40px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
    @include tablet{
      flex-wrap: wrap;
      width: 100%;
      margin: 0%;
      padding: 3%;
    }
  
  }
  .acc_columnphototwo{
    display: flex;
    margin-bottom:20px;
    margin-left: 10px;
    margin-top: 20px;
    padding:9px;
    flex-direction: column;
    align-items: center;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
    @include tablet{
      flex-wrap: wrap;
      width: 100%;
      margin: 0%;
      padding: 3%;
    }
  }
  
  .acc-img{
    width: 500px;
    box-shadow: 0 8px 36px 0 rgba(0, 0, 0, 0.411);    backdrop-filter: blur(1px);
    border-radius: 7px;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
    @include tablet{
      flex-wrap: wrap;
      width: 100%;
      margin: 3%;
      box-shadow: 0 8px 36px 0 rgba(0, 0, 0, 0.671);
      backdrop-filter: blur(1px);
      
    }
  }
  .acc-mod{
    margin: 20px;
  }
  .acc-mo{
    margin-top: 30px;
  }
