.footer{
    background: $color-blanco;
    color: $color-blanco;
    height: 50px;
    line-height: 50px;
}

.footer-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-principal;
  margin-left: 20px;
  margin-right: 20px;
}