@import"./responsive";
.barra-nav{
    background: $color-principal;
    @extend %display-flex-align;
    color: $color-gris;
    padding: 40px 20px;
    justify-content: space-between;
    background-image: url(../img/fondo1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  
    .header_logo{
      width: 100%;
      transition: all 1s;
      &:hover{
        transform: scale(1.2);
      }
    }
    .header_list{
      list-style: none;
      @extend %display-align;
      justify-content: flex-end;
      transition: all 1s;
      color: $color-blanco;
      &:hover{
        transform: scale(1.1);
        background-color: $color-principal;
        border-radius: 10%;
        opacity: 80%;
        }
    }
    
    .header_item{
      @extend %display-align;
      margin: 0px 10px;
      font-size: 12px;
      font-weight: 700;
      padding: 10 0 28px 0;
      text-decoration: none;
      color: $color-gris;
      padding: 10px;
      font-size: 18px; 
      margin: 15px 15px 0px 15px; 
    }
    .titulo{
        padding-bottom: 15%;
        margin:0%;
        width: 100%;
        height: 100%;
        background-image: url(/img/fondo1.jpg);
        background-position: center;
        background-size: cover;
      }
  
  }
  .nav{
    flex-direction: row;
  }
  
  .navbar-nav{
    font-size: 1.2rem;
  }
  
  .reli{
    width: 100%;
    @include desktop2{
      width: 100%;
    }
    @include laptop{
      width: 100%;
    }
  }